---
{% if plays -%}
{% for play in plays -%}
{% if not loop.first %}
{% endif -%}
- name: {{ play.name or name }}
  hosts: {{ play.hosts }}
{%- if play.become is not defined or play.become %}
  become: true
{%- endif %}
{%- if play.tags %}
  tags: [{{ play.tags | join(", ") }}]
{%- endif %}
  roles:
{% for role in play.roles -%}
{{ "    - " ~ role }}
{% endfor -%}
{% endfor -%}
{% else -%}
- name: {{ name }}
  hosts: {{ hosts }}
  become: true
  roles:
{% for role in roles -%}
    - {{ role }}
{% endfor -%}
{% endif -%}
