apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  selector:
{% for key in labels %}
    {{ key }}: {{ labels[key] }}
{% endfor %}
  ports:
    - port: {{ port }}
      targetPort: {{ target_port | default(port) }}
      protocol: TCP
