apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
{%- if labels | length > 1 %}
  labels:
{%- for key in labels %}
    {{ key }}: {{ labels[key] }}
{%- endfor %}
{%- endif %}
spec:
  selector:

    app: {{ labels.app }}

  ports:
    - port: {{ port }}
      targetPort: {{ target_port | default(port) }}
      protocol: TCP
