apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
spec:
  selector:
{% for key in selector %}
    {{ key }}: {{ selector[key] }}
{% endfor %}
  ports:
    - port: {{ port }}
      targetPort: {{ target_port }}
      protocol: TCP
