provider "google" {
  project = "{{ project }}"
  zone    = "{{ region }}"
}
{%- if private_network %}

resource "google_compute_network" "{{ name }}" {
  name                    = "{{ name }}-network"
  auto_create_subnetworks = false
}

resource "google_compute_subnetwork" "{{ name }}" {
  name          = "{{ name }}-subnet"
  network       = google_compute_network.{{ name }}.id
  region        = "{{ (region | split("-"))[:-1] | join("-") }}"
  ip_cidr_range = "{{ private_network }}"
}
{%- endif %}

resource "google_compute_instance" "{{ name }}" {
  count        = {{ count }}
  name         = "{{ name }}-${count.index}"
  machine_type = "{{ size }}"

  boot_disk {
    initialize_params {
      image = "{{ os_image }}"
    }
  }

  network_interface {
{%- if private_network %}
    subnetwork = google_compute_subnetwork.{{ name }}.id
{%- else %}
    network = "default"
{%- endif %}
    access_config {}
  }
}
